.search-bar {
  display: block;
  margin-bottom: 2rem;
  z-index: 10;
}
.search-box {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.search-icon {
  margin-right: 0.5rem;
  font-size: 1.2rem;
  color: #555;
}

.search-input {
  border: none;
  outline: none;
  font-size: 1rem;
  width: 100%;
  background: transparent;
  color: #000;
}
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
    --main-bg-color: #ffffff; /* svetla pozadina */
  --main-text-color: #000000; /* crn tekst */
}
[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #f0f0f0;
   --main-bg-color: #121212; /* tamna pozadina */
  --main-text-color: #f0f0f0; /* svetol tekst */
}